<h2>SƏBƏT</h2>
<div id="products">


<table *ngIf="bS.basketProducts.length!==0" class="table table-bordered">

    <thead>
        <tr>
            <th>
                Şəkil
            </th>
            <th>
                Ad
            </th>
            <th>
                Qiymət
            </th>
            <th>
                Miqdar
            </th>
<th>

</th>
        </tr>
    </thead>

    <tbody >
        <tr *ngFor="let bP of bS.basketProducts;let counter=index">

            <td>
                <img [src]="bP.product.image" style="width: 50px;" />

            </td>
            <td>
                {{bP.product.name}}
            </td>
            <td>
                {{bP.product.price}}
            </td>
<td>
    <input type="number" min="1" [(ngModel)]="bP.quantity" />
</td>
<td>
    <button (click)="onDeleteProduct(counter)" class="btn btn-info"> X</button>
</td>
        </tr>
    </tbody>
</table>
<h1 *ngIf="bS.basketProducts.length===0">Səbət boşdur</h1>
</div>
<hr>
<span>Ümumi qiymət: {{getTotalPrice().toFixed(2)}} </span>
<button *ngIf="bS.basketProducts.length!==0" class="btn btn-success"> Sirafişi təsdiqlə</button>