.products_container{
  width: 80%;
  height: auto; 
  margin: 10px auto 0 auto;
}
.product_template{
  width: 100%;
  padding: 5px;
}
.product{
  width: 100%; 
  border: 2px solid red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 300px; 
  transition: all 0.5s;
  border-radius: 15px;
}
.product:hover{
  box-shadow: 5px 5px 15px black;
  cursor: pointer;
}
.product_image{
  width: 80%;
}

@media screen and (min-width:700px){
  .product_template{
    width: 50%;
    float: left;
    padding: 10px;
  }
}
@media screen and (min-width:1000px){
  .product_template{
    width: 33.33%;
    float: left;
    padding: 15px;
  }
}
@media screen and (min-width:1200px){
  .product_template{
    width: 25%;
    float: left;
    padding: 20px;
  }
}

.product_price{
  font-size: 14px;
  font-weight: bold;
  color: red;
}
.product_name{
  font-size: 16px;
  font-weight: bold; 
}