 
<form #taskForm="ngForm" (ngSubmit)="!taskForm.invalid && onAddTask()"  >


    <div class="form-group">
        <label for="taskName">Task Name:</label>
        <input type="text" [(ngModel)]="task.task" class="form-control" id="taskName" placeholder="Enter Task Name"
         name="taskName" required minlength="2"> 
        <div class="valid-feedback">Doğrudur</div>
        <div class="invalid-feedback">Düz yazın</div>
      </div>

      <div class="form-group">
        <label for="register">Register:</label>
        <input  [ngModel]="task.register | date:'yyyy-MM-dd'"
        (ngModelChange)="task.register = $event"
           type="date" class="form-control" id="register"
         placeholder="Enter register" name="register" required>
        <div class="valid-feedback">Doğrudur.</div>
        <div class="invalid-feedback">Düz yazın.</div>
      </div>

      <div class="form-group">
        <label for="taskDay">Task Day:</label>
        <input type="number" [(ngModel)]="task.day" class="form-control"
         id="taskDay" placeholder="Enter Task day"
         name="taskDay" required  > 
        <div class="valid-feedback">Doğrudur</div>
        <div class="invalid-feedback">Düz yazın</div>
      </div>


      <button type="submit" class="btn btn-primary">Qeydiyyat</button>


</form>