<ol>
    <li *ngFor="let q of questions;let counter=index" >
       <span [ngStyle]=
       "{'background-color':getBackColor(q.correct)}">
           {{q.question}}
       </span>  - {{q.correct}}<br>
        <span *ngFor="let a of q.answers">
            <input type="radio" [name]="q.id" 
            [(ngModel)]="a.studentAnswer"
            [value]="a.answer"
            (click)="answerSelected(counter,a.answer)"
            />
            {{a.answer}}
        </span>



    </li>
</ol>
<hr>
<button (click)="onSeeResults()">
    See Results
</button >
<hr>
<p [ngClass]="calculatePercent() ? 'yasil' : 'qirmizi'">Netice : {{totalPoint}}</p>