<button (click)="shuffleQuestions()">
    Suallari dagit
</button>
<hr>
<input class="form-control" [(ngModel)]="search" (input)="searchMethod()" type="text" placeholder="Search..">
<hr>
<table class="table">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Sual</th>
        </tr>
    </thead>
    <tbody id="myTable">
        <tr *ngFor="let q of studentQuestions">
            <td>
                {{q.student}}
            </td>
            <td>
                {{q.question}}
            </td>
        </tr>
    </tbody>
</table>

 